<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Amazona Books</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">amazona books</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-image" src="images/sophies_world.jpg" alt="Book 1"/>
                <div class="product-name"><a href="product.html">Sophie's World</a></div>
                <div class="product-author">Jostein Gaarder</div>
                <div class="product-price">$22.90</div>
                <div class="product-rating">4.5 start (331 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/meditations.jpg" alt="Book 2"/>
                <div class="product-name"><a href="product.html">Meditations</a></div>
                <div class="product-author">Marcus Aurelius</div>
                <div class="product-price">$14.50</div>
                <div class="product-rating">5 stars (729 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/letters_from_a_stoic.jpg" alt="Book 3"/>
                <div class="product-name"><a href="product.html">Letters From A Stoic</a></div>
                <div class="product-author">Seneca</div>
                <div class="product-price">$16.00</div>
                <div class="product-rating">5 stars (642 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/beyond_good_and_evil.jpg" alt="Book 4"/>
                <div class="product-name"><a href="product.name">Beyond Good and Evil</a></div>
                <div class="product-author">Friedrich Nietzsche</div>
                <div class="product-price">$18.00</div>
                <div class="product-rating">4.5 stars (495 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/the_antichrist.jpg" alt="Book 5"/>
                <div class="product-name"><a href="product.html">The Anti-christ</a></div>
                <div class="product-author">Friedrich Nietzsche</div>
                <div class="product-price">$16.00</div>
                <div class="product-rating">4.0 stars (17 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/the_myth_of_sisyphus.jpg" alt="Book 6"/>
                <div class="product-name"><a href="product.html">The Myth of Sisyphus</a></div>
                <div class="product-author">Albert Camus</div>
                <div class="product-price">$22.50</div>
                <div class="product-rating">4.5 stars (251 reviews)</div>
              </div>
            </li>  
          </ul>
        </div>
      </main>
      <footer class="footer">
        All right reserved.
      </footer>
    </div>
  </body>
</html>