html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
}

.header {
    grid-area: header;
    background-color: #203040;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.brand a {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.brand a:hover {
    color: #fff;
}

.header-links a {
    color: #fff;
}
 
.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #203040;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

/* Home Screen */
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products li {
    flex: 0 1 26rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;
    list-style-type: none;
    padding: 0;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.product-image {
    max-width: 20rem;
    max-height: 34rem;
}

.product-name {
    font-size: 2rem;
    font-weight: bold;
}

.product-author {
    font-size: 1.5rem;
    color: #505050;
}

.product-price {
    font-size: 2rem;
    font-weight: bold;
}

.product-rating {
    margin-bottom: 1rem;
}

/* Sidebar */

.brand button {
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: #f0f0f0;
    height: 100%;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-close-button {
    background-color: #f0f0f0;
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}